.main-card {
    clip-path: polygon(89% 0, 89% 6%, 100% 6%, 100% 44%, 100% 100%, 50% 100%, 23% 100%, 0 100%, 0% 35%, 0 1%);
}

.card {
    clip-path: polygon(94% 0, 94% 16%, 100% 16%, 100% 44%, 100% 100%, 50% 100%, 23% 100%, 0 100%, 0% 35%, 0 1%);
}